@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
    padding: 60px 0px;
    background-color: rgb(220, 220, 220);
}

.swiper-wrapper {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.swiper-wrapper > div {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.swiper-wrapper > div > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.swiper-wrapper > div:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}
.swiper-wrapper > div > time > span {
    display: none;
}
.swiper-wrapper > div > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.swiper-wrapper > div time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}
.swiper-wrapper > div > img {
    width: 100%;
}
.swiper-wrapper > div > .info {
    padding-top: 5px;
    text-align: center;
}
.swiper-wrapper > div > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.swiper-wrapper > div > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.swiper-wrapper > div > .info > ul,
.swiper-wrapper > div > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.swiper-wrapper > div > .social > ul {
    margin: 0px;
}
.swiper-wrapper > div > .info > ul > li,
.swiper-wrapper > div > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.swiper-wrapper > div > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.swiper-wrapper > div > .social > ul > li {
    padding: 0px;
}
.swiper-wrapper > div > .social > ul > li > a {
    padding: 3px 0px;
}
.swiper-wrapper > div > .info > ul > li:hover,
.swiper-wrapper > div > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}
.twitter a {
    color: rgb(79, 213, 248) !important;
}
.google-plus a {
    color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .swiper-wrapper > div {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .swiper-wrapper > div > time,
    .swiper-wrapper > div > img  {
        display: inline-block;
    }
    .swiper-wrapper > div > time,
    .swiper-wrapper > div > img {
        width: 120px;
        float: left;
    }
    .swiper-wrapper > div > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .swiper-wrapper > div > time,
    .swiper-wrapper > div > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .swiper-wrapper > div > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }
    .swiper-wrapper > div > .info > .title,
    .swiper-wrapper > div > .info > .desc {
        padding: 0px 10px;
    }
    .swiper-wrapper > div > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .swiper-wrapper > div > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .swiper-wrapper > div > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .swiper-wrapper > div > .social > ul > li {
        display: block;
        padding: 0px;
    }
    .swiper-wrapper > div > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}

.swiper-container-2 {
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
    width: 100%;
    height: 300px;
    margin: 20px auto;
    
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 60%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide:nth-child(2n) {
    width: 40%;
}
.swiper-slide:nth-child(3n) {
    width: 20%;
}